	pushi 5
	pushi 1
	pushi 0
	pushi 0
	pushi 0
start
	pushgp
	pushi 3
	padd
	pushg 1
	pushg 0
	inf
	store 0
	pushgp
	pushi 4
	padd
	pushg 1
	pushg 0
	sup
	store 0
	pushg 1
	pushg 0
	inf
	jz labelif0
	pushgp
	pushi 3
	padd
	pushi 5
	store 0
	pushgp
	pushi 2
	padd
	pushi 32
	store 0
	jumb labelfim0
labelif0:
	pushgp
	pushi 2
	padd
	pushi 3
	store 0
	pushgp
	pushi 2
	padd
	pushi 4
	store 0
labelfim0:
	pushg 2
	writei
stop
