	pushi 2
	pushi 0
	pushi 0
	pushi 0
	pushi 2
	pushi 1
	pushi 0
start
	pushgp
	pushi 3
	padd
	pushg 1
	pushg 0
	inf
	store 0
labelWH0
	pushg 1
	pushg 0
	inf
	jz labelWHfim0
	pushgp
	pushi 2
	padd
	pushg 2
	pushi 1
	add
	store 0
	pushgp
	pushi 1
	padd
	pushg 1
	pushi 1
	add
	store 0
	jump labelWH0
labelWHfim0:
	pushg 2
	writei
	pushg 5
	writei
stop
